body{
    Background-color: rgb(253, 251, 251);
    font-size:1.2em;
    color: rgb(34, 34, 34);
    line-height: 1.2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#cabecalho{
    Background-color: rgb(44, 90, 51);
    Color: rgb(253, 251, 251);
    position:fixed;
    top:0px;
    Margin:1px;
    padding:1px;
    border:2px double;
}
#titulo{

}
#minha_foto{
    width: 300px;
    margin-right: 20px;
}
#licoes_aprendidas{

}
#licoes_a_aprender{

}
#rodape{

}
nav{
    float: left;
    display: block;
    color:rgb(186, 255, 0);
    text-align: center;
    padding: 14px;
    text-decoration: none;
}